repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
    args: ["--maxkb=4000"]
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]
- repo: https://github.com/pocc/pre-commit-hooks
  rev: v1.3.5
  hooks:
    - id: clang-format
      args: ["-i", "--style=file:.clang-format"]
      language: python
      additional_dependencies: [clang-format>=15.0]
      types_or: [c, c++]
    #- id: cpplint
    #  language: python
    #  args: [
    #    "--linelength=100", "--recursive",
    #    "--filter=-build/c++11,-build/include,-build/namespaces_literals,-runtime/references,-build/include_order,+build/include_what_you_use",
    #    "--root=include"]
    #  additional_dependencies: [cpplint==1.6.1]
    #  types_or: [c++]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
    - id: ruff
      args: [ "--fix", "--config", "ruff.toml" ]
